@import './scss/color';

.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .item {
    display: flex;
    align-items: center;
    margin: .25rem 0;
  }

  .select-modes {
    width: 200px;
    margin: 1rem 0;
  }

  .color-picker {
    margin-left: .5rem;

    .swatch {
      padding: 5px;
      background: #fff;
      border-radius: 1px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0m, .1);
      display: inline-block;
      cursor: pointer;
    }

    .color {
      width: 36px;
      height: 14px;
      border-radius: 2px;
    }

    .popover {
      position: absolute;
      z-index: 2;
    }

    .cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.title {
  color: #fff;
}

.face {
  position: relative;

  .state {
    position: absolute;
    top: 0;
    left: -166px;
    padding: .5rem;
    width: 150px;
    background-color: $primary;

    span {
      display: block;
      margin: 0;
      color: #ff0;
    }
  }

  .control {
    position: absolute;
    top: 3rem;
    left: -166px;
    padding: .4rem .5rem;
    width: 150px;
    background-color: #000;
    user-select: none;
    color: #ff0;
  }

  #overlay,
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
  }
}
